/node_modules/
/package-lock.json
/.idea/.gitignore
/.idea/akaitodo-backend2.iml
/.idea/modules.xml
/.idea/vcs.xml

/.env.local
/.env.*.local
/.docker.env.local
/.docker.env.*.local
/docker/data

/akaitodo-backend-moje.code-workspace
/def.code-workspace